/* general */
:root {
  /* Color */
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --body-background: #ffffff;
}

body {
  background-color: var(--body-background);
  color: var(--text);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

li {
  list-style: none; /* Remove markers */
}

.logo {
  color: var(--primary-brand);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.nav {
  font-weight: 500;
  color: var(--dark);
}

.possibilities .section-title,
.portfolio .section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title,
.section-subtitle {
  color: var(--dark);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* Header */

/* Logo  */

.logo-hpart {
  color: var(--dark);
}

/* Nav links & Contacts*/

.nav:hover,
.nav:focus,
.current {
  color: var(--pressed-state);
}

.cont {
  font-style: normal;
  color: var(--text);
}

.cont:hover,
.cont:focus {
  color: var(--pressed-state);
}

/* STUDIO */

/* Hero section */

.hero {
  background-color: var(--dark);
}

.hero-title {
  color: var(--body-background);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.hero-but {
  color: var(--body-background);
  background-color: var(--primary-brand);
}

.hero-but:hover,
.hero-but:focus {
  background-color: var(--pressed-state);
}

/* Our Team */

.team {
  background-color: var(--light);
}

/* PORTFOLIO */
.filter {
  color: var(--primary-brand);
  background-color: var(--light);
}

.filter:hover,
.filter:focus {
  color: var(--body-background);
  background-color: var(--pressed-state);
}

/* footer */

.footer {
  background-color: var(--dark);
  color: var(--accent);
}

.logo-fpart {
  color: var(--light);
}
